<p>
 <label for="{{title['for']}}" > Title </label>
 <input type="text" name="{{title['name']}}" value="{{title['value']}}" id="{{title['id']}}" />
</p>
<p>
 <label for="{{recipient['for']}}" > recipient </label>
 <input type="text" name="{{recipient['name']}}" value="{{recipient['value']}}" id="{{recipient['id']}}" />
</p>
<p>
 <label for="{{subject['for']}}" > subject </label>
 <input type="text" name="{{subject['name']}}" value="{{subject['value']}}" id="{{subject['id']}}" />
</p>