<h4>Facebook</h4>
<p>
    <label for="{{facebook['for']}}">Facebook Link</label>
    <input type="text" id="{{facebook['id']}}" name="{{facebook['name']}}" value="{{facebook['value']}}">
</p>

<h4>LinkedIn</h4>
<p>
    <label for="{{linkedin['for']}}">LinkedIn Link</label>
    <input type="text" id="{{linkedin['id']}}" name="{{linkedin['name']}}" value="{{linkedin['value']}}">
</p>

<h4>Github</h4>
<p>
    <label for="{{github['for']}}">Github Link</label>
    <input type="text" id="{{github['id']}}" name="{{github['name']}}" value="{{github['value']}}">
</p>

<h4>Google</h4>
<p>
    <label for="{{google['for']}}">Google Link</label>
    <input type="text" id="{{google['id']}}" name="{{google['name']}}" value="{{google['value']}}">
</p>